 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1353px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 428px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 42px));
  min-height: 970px;
  grid-gap: 63px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-1 .u-image-1 {
  width: 183px;
  height: 183px;
  background-image: url("images/cc24004b-3648-459a-a427-92b968bd416b.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-1 .u-image-2 {
  width: 183px;
  height: 183px;
  background-image: url("images/8fd61bc0-5bae-1121-8583-3332d09cf9eb.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-1 .u-image-3 {
  width: 183px;
  height: 183px;
  background-image: url("images/rttyrrt.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 32px;
}

.u-section-1 .u-image-4 {
  width: 183px;
  height: 183px;
  background-image: url("images/uuyu-min.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-1 .u-text-9 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 32px;
}

.u-section-1 .u-image-5 {
  width: 183px;
  height: 183px;
  background-image: url("images/ffff.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-1 .u-text-11 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 32px;
}

.u-section-1 .u-image-6 {
  width: 183px;
  height: 183px;
  background-image: url("images/857e458e-9e41-49d2-b73d-78302d0b9b3d.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-1 .u-text-13 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  letter-spacing: 0px;
  width: 680px;
  font-size: 0.875rem;
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42px));
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
    min-height: 1379px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3183px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-15 {
    width: 340px;
  }
}