 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/220641.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-align: left;
  width: 591px;
  margin: 164px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 3.6389em;
}

.u-section-1 .u-text-2 {
  text-align: left;
  font-size: 1.875rem;
  margin: -68px 12px 0 625px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-icon-2 {
  font-size: 4.4334em;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: -128px 630px 0 71px;
}

.u-section-1 .u-btn-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 1.875rem;
  transform: scale(1.1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 3.7778em;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  text-align: left;
  margin: -6px 71px 0 570px;
}

.u-section-1 .u-btn-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-icon-4 {
  font-size: 3.7778em;
}

.u-section-1 .u-text-5 {
  text-align: left;
  background-image: none;
  font-size: 1.875rem;
  margin: -50px 617px 60px 83px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
}

.u-section-1 .u-icon-5 {
  font-size: 3.7778em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 441px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 441px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -81px;
    margin-right: 500px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 269px;
    margin-right: 101px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 55px;
    margin-left: 215px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 487px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -597px;
    margin-right: 0;
    margin-left: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 239px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 72px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 517px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -584px;
    margin-right: -33px;
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1658px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 308px;
    margin-left: -20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-icon-1 {
    font-size: 2.8889em;
  }

  .u-section-1 .u-text-2 {
    margin-top: 210px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    font-size: 2.5278em;
  }

  .u-section-1 .u-text-3 {
    margin-top: -330px;
    margin-right: -40px;
  }

  .u-section-1 .u-icon-3 {
    font-size: 3.1389em;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 386px;
    margin-right: -40px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    transition-duration: 0.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
    padding: 0;
  }

  .u-section-1 .u-icon-4 {
    font-size: 2.7334em;
  }

  .u-section-1 .u-text-5 {
    margin-top: -379px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    padding: 0;
  }
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-width: 0px !important;
}